<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <section>

    <div class="">
     
      <div>
        <button>
          <a href=""> Usuarios </a>
        </button>
        <img src="https://cdn-icons.flaticon.com/png/128/2550/premium/2550260.png?token=exp=1658969492~hmac=e79d37914f9632c4bcd0df4a7f329ea6" alt="habitacion">
      </div>
      
      <div>
        <button>
          <a href=""> Reservas </a>
        </button>
        <img src="https://cdn-icons-png.flaticon.com/128/1243/1243560.png" alt="habitacion">
      </div>

      <div>
        <button>
          <a href=""> Habitaciones </a>
        </button>
        <img src="https://cdn-icons.flaticon.com/png/512/3009/premium/3009905.png?token=exp=1658969422~hmac=04b18ccbd8838d099ad7cb710ff59cb4" alt="habitacion">
      </div>
      
    </div>


  </section>
  
</body>
</html>