{% extends './base.html' %}

{% block title %}
{{ data.title }}
{% endblock %}

{% block body %}

<section>
  <div class="content">
    <div class="form">
      <h1>Registrar usuario</h1>
      <form action="" method="post" novalidate>

        <div class="col-lg-12 col-sm-24 field-wrap">
          {{ form.name.label(class="form-label") }}
          {{ form.name(placeholder="Ingresar nombre", class="form-control") }}
          {% for error in form.name.errors %}
          <small class="error-small">{{ error }}</small>
          {% endfor %}
        </div>

        <div class="col-lg-12 col-sm-24 field-wrap">
          {{ form.user.label(class="form-label") }}
          {{ form.user(placeholder="Ingresar usuario", class="form-control") }}
          {% for error in form.user.errors %}
          <small class="error-small">{{ error }}</small>
          {% endfor %}
        </div>

        <div class="col-lg-12 col-sm-24 field-wrap">
          {{ form.document.label(class="form-label") }}
          {{ form.document(placeholder="Ingresar documento", class="form-control") }}
          {% for error in form.document.errors %}
          <small class="error-small">{{ error }}</small>
          {% endfor %}
        </div>

        <div class="col-lg-12 col-sm-24 field-wrap">
          {{ form.contact.label(class="form-label") }}
          {{ form.contact(placeholder="Ingresar teléfono", class="form-control") }}
          {% for error in form.contact.errors %}
          <small class="error-small">{{ error }}</small>
          {% endfor %}
        </div>

        <div class="col-lg-12 col-sm-24 field-wrap">
          {{ form.password.label(class="form-label") }}
          {{ form.password(placeholder="Ingresar contraseña", class="form-control") }}
          {% for error in form.password.errors %}
          <small class="error-small">{{ error }}</small>
          {% endfor %}
        </div>

        <div class="col-lg-12 col-sm-24 field-wrap">
          {{ form.confPassword.label(class="form-label") }}
          {{ form.confPassword(placeholder="Confirmar contraseña", class="form-control") }}
          {% for error in form.confPassword.errors %}
          <small class="error-small">{{ error }}</small>
          {% endfor %}
        </div>

        <div class="col-lg-12 col-sm-24 field-wrap">
          {{ form.email.label(class="form-label") }}
          {{ form.email(placeholder="Ingresar correo", class="form-control") }}
          {% for error in form.email.errors %}
          <small class="error-small">{{ error }}</small>
          {% endfor %}
        </div>

        <div class="col-lg-12 col-sm-24 field-wrap">
          {{ form.ConfEmail.label(class="form-label") }}
          {{ form.ConfEmail(placeholder="Confirmar correo", class="form-control") }}
          {% for error in form.ConfEmail.errors %}
          <small class="error-small">{{ error }}</small>
          {% endfor %}
        </div>

        {% if 'usuario' in session and (session['type_user'] == 1 or session['type_user'] == 2) %}
        <div class="col-lg-12 col-sm-24 field-wrap">
          {{ form.typeUsers.label(class="form-label") }}
          {{ form.typeUsers(class="form-control") }}
          {% for error in form.typeUsers.errors %}
          <small class="error-small">{{ error }}</small>
          {% endfor %}
        </div>
        {% endif %}

        <div class="col-lg-12 col-sm-24 field-wrap">
          {{ form.registerForm(class="button-login") }}
          {{ form.hidden_tag() }}
        </div>

        </form>
    </div>
  </div>
</section>

{% endblock %}