{% extends './base.html' %}

{% block title %}
{{ data.title }}
{% endblock %}

{% block body %}

<div class="content">
  <div class="form">
    <h1>Registrar usuario</h1>

    <form action="" method="post">

      <div class="field-wrap">
        <label for="user">Nombre:</label>
        <input type="text" id="name" name="name" placeholder="Ingrese nombre completo" required autocomplete />
      </div>

      <div class="field-wrap">
        <label for="mail">Correo:</label>
        <input type="email" id="email" name="user_email" placeholder="Ingrese correo" required autocomplete />
      </div>

      <div class="field-wrap">
        <label for="mail">Confirmar correo:</label>
        <input type="email" id="email_conf" name="user_email_conf" placeholder="Confirme correo" required
          autocomplete />
      </div>

      <div class="field-wrap">
        <label for="user">Usuario:</label>
        <input type="text" id="user_reg" name="user_reg" placeholder="Ingrese usuario" required autocomplete />
      </div>

      <div class="field-wrap">
        <label for="password">Contraseña:</label>
        <input type="password" id="user_password_reg" name="user_password_reg" placeholder="Ingrese contraseña" required
          autocomplete="off" />
      </div>

      <div class="field-wrap">
        <label for="password">Confirmar contraseña:</label>
        <input type="password" id="user_password_conf" name="user_password_conf" placeholder="Confirme contraseña"
          required autocomplete="off" />
      </div>

      <div class="field-wrap">
        <button type="submit"><a href="./iniciarSesion.html"> Registrarme </a> </button>
      </div>

    </form>
  </div>
</div>
</section>

{% endblock %}