{% extends './base.html' %}

{% block title %}
{{ data.title }}
{% endblock %}

{% block body %}
<table id="tabla">
  <tbody>
      <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad</th>
      </tr>
      {% for reserv in l_reservas %}
          <tr>
              <td>{% print (reserv[0]) %}</td>
              <td>{{ reserv[1] }}</td>
              <td>{{ reserv[2] }}</td>
              <td>{{ reserv[3] }}</td>
          </tr>
      {% endfor %}
  </tbody>
</table>
<div class="container">
  <section class="">
    <div class="row">
  
      <!-- Barra de busqueda de reservas -->
      <div class="">
        <div class="">
          <button type="button" class="btn btn-outline-success">Buscar</button>
        </div>     
        <div>
          <input id="reservas" name="reservas">
          <h1 class="title-misReservas">Mis reservas</h1>
        </input>
        </div>
      </div>
       
      <!-- Reserva y sus ediciones -->
      <div class="col-md-4">
        <img class="img-habitacion" src="https://images.pexels.com/photos/279746/pexels-photo-279746.jpeg?auto=compress&cs=tinysrgb&w=400" alt="habitacion">
        <p>Reserva #1234 </p>
        <button type="button" class="btn btn-outline-success">Editar</button>
        <button type="button" class="btn btn-outline-danger">Cancelar</button>
      </div>
  
    </div>
  </section>

</div>

{% endblock %}

  
  
