{% extends './base.html' %}

{% block title %}
{{data.title}}
{% endblock %}

{% block body %}

<form action="" method="post">

  
    <!-- <nav class="navegacion">
      <ul class="menu">
        <li><a href="/iniciarSesion">Iniciar sesión</a></li>
        <li><a href="/registrar">Registrar</a></li>
        <li><a href="#">Imágenes</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav> -->


  <section>
    <div class="slider">
      <ul>
        <li><img src="{{ url_for('static',filename='img/habitacion1.jpg') }}" alt="habitacion 1"></li>
        <li><img src="{{ url_for('static',filename='img/habitacion2.jpg') }}" alt="habitacion 2"></li>
        <li><img src="{{ url_for('static',filename='img/habitacion3.jpg') }}" alt="habitacion 3"></li>
        <li><img src="{{ url_for('static',filename='img/habitacion4.jpg') }}" alt="habitacion 4"></li>
        <li><img src="{{ url_for('static',filename='img/habitacion5.jpg') }}" alt="habitacion 5"></li>
        <li><img src="{{ url_for('static',filename='img/habitacion6.jpg') }}" alt="habitacion 6"></li>
      </ul>
    </div>
  </section>
</form>
</body>
{% endblock %}