{% extends './base.html' %}

{% block title %}
{{data.title}}
{% endblock %}

{% block body %}

<form action="" method="post">

  
    <!-- <nav class="navegacion">
      <ul class="menu">
        <li><a href="/iniciarSesion">Iniciar sesión</a></li>
        <li><a href="/registrar">Registrar</a></li>
        <li><a href="#">Imágenes</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav> -->


  <section>
    <div class="slider">
      <ul>
        {% for room in data.listRoom %}
        <li><img src="{{ room[3] }}" class="d-block w-100" alt="{{ room[0] }}"></li>
        {% endfor %}
      </ul>
    </div>
  </section>
</form>
</body>
{% endblock %}