{% extends './base.html' %}

{% block title %}
{{ data.title }}
{% endblock %}

{% block body %}

<section>
  <div class="content">
    <div class="form">
      <h1>Iniciar sesión</h1>
      <form action="" method="post" novalidate>

        <div class="col-lg-12 col-sm-24 field-wrap">
          {{ form.user.label(class="form-label") }}
          {{ form.user(placeholder="Ingresar usuario", class="form-control") }}
          {% for error in form.user.errors %}
          <small class="error-small">{{ error }}</small>
          {% endfor %}
        </div>

        <div class="col-lg-12 col-sm-24 field-wrap">
          {{ form.password.label(class="form-label") }}
          {{ form.password(placeholder="Ingresar contraseña", class="form-control") }}
          {% for error in form.password.errors %}
          <small class="error-small">{{ error }}</small>
          {% endfor %}
        </div>

        <div class="col-lg-12 col-sm-24 field-wrap">
          {{ form.sendForm(class="button-login") }}
          {{ form.hidden_tag() }}
        </div>

        <div class="field-wrap-check field-wrap">
          {{ form.remember(class="check-input") }}
          {{ form.remember.label(class="form-label") }}
        </div>

      </form>
    </div>
  </div>
</section>

{% endblock %}