{% extends './base.html' %}

{% block title %}
{{ data.title }}
{% endblock %}

{% block body %}

<section class="">

  <header class="">
    <div>
      <h1> Reserva Tu Habitacioón </h1>
    </div>
  </header>

  {% for room in data.listRoom %}
  <div class="card">
    <img src="{{ room[3] }}" class="d-block w-100" alt="{{ room[0] }}">
    <div class="card-body">
      <h5 class="card-title">{{ room[1] }}</h5>
      <p class="card-text">Habitación: {{ room[0] }}</p>
      <p class="card-text">Calificación: {{ room[2] }}</p>
      <div class="container shadow py-2">
        <form action="" method="post" novalidate>
          <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-12">
              {{ form.dateIni.label(class="form-label") }}
              {{ form.dateIni(class="form-control", type="date") }}
              {% for error in form.dateIni.errors %}
              <small class="error-small">{{ error }}</small>
              {% endfor %}
            </div>
            <div class="col-lg-6 col-sm-12 field-wrap">
              {{ form.dateFin.label(class="form-label") }}
              {{ form.dateFin(class="form-control", type="date") }}
              {% for error in form.dateFin.errors %}
              <small class="error-small">{{ error }}</small>
              {% endfor %}
            </div>

            <div class="col-lg-12 col-sm-24 align-items-start field-wrap">
              {{ form.cantPerson.label(class="form-label") }}
            </div>

            <div class="row align-items-center field-wrap">
              <div class="col">
                <button type="button" class="button-login" onclick="increase()">+</button>
              </div>
              <div class="col">

                {{ form.cantPerson(class="form-control text-cant-per", type="number", min="0", step="1", value="0", id="counter") }}
                {% for error in form.cantPerson.errors %}
                <small class="error-small">{{ error }}</small>
                {% endfor %}
              </div>
              <div class="col">
                <button type="button" class="button-login" onclick="decrease()">-</button>
              </div>
            </div>

            <div class="col-lg-12 col-sm-24 field-wrap">
              {{ form.reserveForm(class="button-login") }}
              {{ form.hidden_tag() }}
            </div>

          </div>
        </form>
      </div>
    </div>

  </div>
  {% endfor %}

  {% endblock %}