{% extends './base.html' %}

{% block title %}
{{ data.title }}
{% endblock %}

{% block body %}

<section class="">
  <header class="">
    <div>
      <h1> Reserva tu habitación </h1>
    </div>
  </header>

  <form action="" method="post" novalidate>
    <div class="card">
      <div class="card-body">

        <div class="row justify-content-center">
          <div class="col-lg-6 col-sm-12">
            {{ form.dateIni.label(class="form-label") }}
            {{ form.dateIni(class="form-control") }}
            {% for error in form.dateIni.errors %}
            <small class="error-small">{{ error }}</small>
            {% endfor %}
          </div>
          <div class="col-lg-6 col-sm-12 field-wrap">
            {{ form.dateFin.label(class="form-label") }}
            {{ form.dateFin(class="form-control") }}
            {% for error in form.dateFin.errors %}
            <small class="error-small">{{ error }}</small>
            {% endfor %}
          </div>

          <div class="col-lg-12 col-sm-24 align-items-start field-wrap">
            {{ form.cantPerson.label(class="form-label") }}
          </div>

          <div class="row align-items-center field-wrap">
            {{ form.cantPerson(class="form-control text-cant-per", min="1", max="10", step="1", value="1") }}
            {% for error in form.cantPerson.errors %}
            <small class="error-small">{{ error }}</small>
            {% endfor %}
          </div>

          <div class="col-lg-12 col-sm-24 field-wrap">
            <button type="button" class="button-login"><a href="/buscarHabitaciones"> Buscar disponibilidad
              </a></button>
          </div>

        </div>

      </div>
    </div>

    {% for rooms in data.listRoom %}
    <div class="card">
      <img src="{{ rooms[5] }}" class="d-block w-100" alt="{{ rooms[1] }}">
      <div class="card-body">
        <h5 class="card-title">Habitación: {{ rooms[1] }}</h5>
        <p class="card-text">Cantidad de huéspedes: {{ rooms[2] }}</p>
        <p class="card-text">Cantidad de camas: {{ rooms[3] }}</p>
        <p class="card-text">Calificación: {{ rooms[4] }}</p>

        <div class="col-lg-12 col-sm-24 field-wrap">
          {{ form.reserveForm(class="button-login") }}
          {{ form.hidden_tag() }}
        </div>

      </div>
    </div>
    {% endfor %}
  </form>
</section>
{% endblock %}